//
   Created by root on 9/25/15.
div#about()
  h1 About Me
  hr(flex)
  div(layout='row')
    md-content
      md-card.md-padding(layout-gt-md='row' )
        img.md-card-image(src='images/black-and-white-sky-construction-bridge.jpg')
        md-card-content(flex-gt-md='65')
          p.
            I would consider myself a junkie. Not the kind to get in trouble with the law, but one that loves seeing things broken down and raw. Nothing is better to me than seeing the guts of a V12 Formula 1 engine, the raw steel that forms a skyscraper,
            or the simple words in a document of my next million dollar Java class! Yes, I am a fiend for design and engineering!
  div(layout='row')
    md-content
      md-card.md-padding(layout-gt-md='row')
        img.md-card-image(src='images/city-cars-road-traffic.jpg' flex-order='2' flex-order-sm='1' flex-order-md='1')
        md-card-content(flex-gt-md='65' flex-order='1' flex-order-sm='2' flex-order-md='2')
          p.
            Being someone who is always willing to learn something new is key. I feel it is key in any industry. I love learning. Nothing is better than going home at the end of the day, knowing you're smarter than you were when you awoke. Applying this knowledge
            is also a skill. As the saying goes, "​In one ear and out the other"​, is not a good attribute to have, so I make sure to be the complete opposite.
  div(layout='row')
    md-content
      md-card.md-padding(layout-gt-md='row')
        img.md-card-image(src='images/plane.jpg')
        md-card-content(flex-gt-md='65')
          p.
            I don't have much working experience but I have a passion for code. I am a quick learner and I love working with my hands. Now I would not call myself a complete newbie, but I would say that I have a firm understanding of most concepts and I can pickup new ones quickly.
            I love technology and seeing how this industry gets better almost every month. There is nothing I would like more than to be apart of this ever-forward moving environment, and do my part to help it along the way!
