div.container(layout-padding)
  md-content()
    h1 Blog
    hr
    h5 Well I think this is self-explanatory...
    md-card(layout-padding ng-repeat='blog in posts')
      md-card-header
        md-card-header-text( layout-margin)
          span.md-headline Title: {{ blog.title }}
          span.md-subhead Date: {{ blog.date | amDateFormat: 'dddd, MMMM Do YYYY' }}
          span.md-subhead Written by {{ blog.author }}
      div(layout='row' style='border-bottom: 1px solid blue' layout-margin)
        img(src='public/images/{{blog.image}}' style='width: auto; height: 325px;')
        md-card-content(layout='column')
          div(style='max-height: 300px; min-height: 200px;')
            p {{ blog.longPost | limitTo:100 }}
          div(layout='row' layout-align='end end')
            md-button(ui-sref=' blogView({id:blog._id})' ng-click='viewPost()' role='button') Continue Reading
      div(layout='row' layout-margin )
        p Tags: 
        md-button.md-raised(ng-repeat='tags in blog.tag' ui-sref='{{ blog.tag }}' role='button') {{ tags }}
