div.container(style='margin-top: 25px;')
  md-card()
    md-card-content
      h1(style='text-align: center;') Update blog here
      hr
      form#blog( name='BlogForm' role='form' layout-padding)
        div(layout='row')
          div(layout='column' flex-gt-md='50')
            md-input-container(flex)
              label Blog title
              input( type='text' ng-maxlength='30' ng-minlength='3' md-maxlength='30' name='title' ng-model='blog.title' required)
              div(ng-messages='BlogForm.title.$error' ng-show='BlogForm.title.$touched')
                span(ng-message='required') Blog title is required
                span(ng-message='maxlength') Title must be less than 30 characters long
                span(ng-message='minlength') Title must be at least 3 characters long
            md-input-container
              label Blog Author
              input(type='text', ng-maxlength='30' name='author' ng-model='blog.author')
              div(ng-messages='BlogForm.author.$error' ng-show='BlogForm.author.$touched')
                span(ng-message='maxlength') Author name must be less than 30 characters long
            md-input-container
              label Blog Image Name
              input(type='text' name='image' ng-model='blog.image')
            div()
              md-input-container
                label Blog Tags
                input(type='text', ng-minlength='5', ng-maxlength='15' name='tag' ng-model='blog.newTag')
              md-button#addTag(ng-click='addTag()' type='addTag' ) Add Tag
              div(layout='row')
                p Tags Added:
                  div( ng-repeat='tags in blog.tag')
                    md-button.md-raised {{ tags }}
            div
              p Please input a blog date:
              md-datepicker(ng-model='blog.date' md-placeholder='Blog Date')
            div(flex-gt-md='50')
              md-input-container(style='width: 100%;')
                label What's on your mind?
                textarea(type='text' ng-maxlength='1000' md-maxlength='2000' name='message' ng-model='blog.longPost' columns='1', rows='30' layout-padding)
                div(ng-messages='BlogForm.message.$error' ng-show='BlogForm.message.$touched')
                  span(ng-message='maxlength') Message is limited to 1000 characters
              br
              md-button.md-raised.md-accent#submitBtn(type = "submit" ng-click='saveBlog()' ng-disabled='BlogForm.$invalid' style='margin-bottom: 1px;') Submit
