div#main(layout='column')
  div#bigCallout.teal(layout='column' layout-align='center center' flex)
    md-content.callout-content(layout-padding)
      img(src='images/mylogo.png', alt='My Brand' style='background-color: white; max-height: 200px; width: auto')
      h1 Benjamin Forehand Jr
  md-content.spacer
        div(style='text-align: center; margin: auto; margin-top: 50px;')
          p Specializing in back end web development as well as Open Source projects at companies like Mozilla.
          p Specializing in back end web development as well as Open Source projects at companies like Mozilla.
          p Specializing in back end web development as well as Open Source projects at companies like Mozilla.

  div(flex)
    div.layout-content-container(layout-gt-lg='row' layout-align='center center' layout-margin)
      div(flex class='main-card')
        md-content
          md-card.md-card(ui-sref='resume')
            div(style='background-color: rgb(238, 238, 238)')
              h2 Resume
            img.md-card-image-alt(src='images/resumeLogo.png')
      div(flex class='main-card')
        md-content
          md-card.md-card(ui-sref='contact')
            div(style='background-color: rgb(238, 238, 238)')
              h2 Contact
            img.md-card-image(src='images/contactImg.png')
      div(flex class='main-card')
        md-content
          md-card.md-card(ui-sref='projects')
            div(style='background-color: rgb(238, 238, 238)')
              h2 Recent Projects
            img.md-card-image-alt(src='images/projects.png')
