div(layout='column' ng-cloak)
  md-content
    md-tabs(md-dynamic-height md-border-bottom ng-repeat='tab in tabs')
      md-tab(label='{{ tab.title }}')
        md-content.md-padding
          {{ tab.content }}
