div#mozilla(layout-gt-lg='row' layout-align='center center' layout-padding)
  div(ng-show="loading" style='margin:auto; max-width:150px;' )
    img(src="images/ring.gif" style='max-width:150px; margin:auto;')
    p Loading Bugs...
  div(ng-repeat='bug in bugs' class='projects-detail-card' style='max-width:400px; min-width:400px;' layout-wrap)
    md-content.md-padding
      md-card.md-card
        img.md-card-image(src="images/firefox_logo.png", alt="Document image")
        md-card-content.md-card-content
          h2.md-margin Bug: {{bug.id}}
          hr
          br
          P Bug Summary: {{bug.summary}}
          h4 Bug Status: {{bug.status}}
          p Updated on: {{bug.last_change_time | amDateFormat: 'ddd, MMM Do YYYY'}}
          br
          div(layout='row' layout-align='start end')
            md-button.md-raised.md-primary.hvr-grow(href="https://bugzilla.mozilla.org/show_bug.cgi?id={{bug.id}}", role= "button" target="_blank") View
