md-dialog(ng-cloak aria-label='Resume' style='min-width: 80%; max-height: 810px;')
  form
  md-toolbar
    div(class='md-toolbar-tools')
      h2 Benjamin Forehand Jr Resume
      span(flex)
      md-button(style='padding-top: 15px;' ng-click='cancel()')
        ng-md-icon(icon="clear" style="fill: white;" size="30")
  md-dialog-content()
    div(class='md-dialog-content')
      h2 Resume
      iframe(src="https://drive.google.com/file/d/0B3r6aWctfAKPcmZLdnVoSkdYbmM/preview" width="100%" height="600px")
