//
   Created by root on 10/11/15.


doctype html
html
  head
    meta(charset='utf-8')
    title Benjamin Forehand Jr
    meta(name='description', content='')
    meta(name='viewport', content="initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic')
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc5/angular-material.min.css')
    link(rel='stylesheet', href='/javascripts/vendor/hover/css/hover.css')
    link(rel='stylesheet', href='/javascripts/vendor/jquery.kyco.googleplusfeed2/dist/jquery.kyco.googleplusfeed2.css')
    link(rel='stylesheet', href='/dist/stylesheets/main.min.css')
    base(href="/)
  body(ng-app='webApp', layout="column")
    md-toolbar.md-whiteframe-z2(style='max-height: 15px;' layout='row' hide-gt-md)
      md-button#leftToggle(hide-gt-lg='', aria-label='Show Nav', ng-controller="LeftCtrl", ng-click='toggleSidenav()')
        md-icon(md-svg-icon='images/angular-material/menu.svg')
      span(flex='')
      h2(hide-gt-sm='') Benny Jr
      span(flex='')
      md-button(aria-label='Show User List', ng-controller='RightNavCtrl', ng-click='toggleSidenav()' style='padding-top: 10px')
        ng-md-icon(icon="people" style="fill: white" size="30" hide-gt-lg='')
    div(layout='row' )
      md-toolbar.md-tall.md-whiteframe-z1(style='max-width: 150px;' hide-sm='' hide-md='' hide-lg='')
      div#layout(layout='row' flex)
        md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id='left', md-is-locked-open="$mdMedia('gt-md')" layout='column')
          md-toolbar.md-whiteframe-z1.body-toolbar.md-toolbar
            span(flex='')
          md-list(ng-controller="LeftCtrl")
            md-list-item
              md-button.md-button(ui-sref='/' flex='' ui-sref-active='active' ng-click='close()')
                h3 Home
            md-list-item
              md-button.md-button(ui-sref='about' flex='' ui-sref-active='active' ng-click='close()')
                h3 About
            md-list-item
              md-button.md-button(ui-sref='projects' flex='' ui-sref-active='active' ng-click='close()')
                h3 Projects
            md-list-item
              md-button.md-button(ui-sref='resume' flex='' ui-sref-active='active' ng-click='close()')
                h3 Resume
            md-list-item
              md-button.md-button(ui-sref='contact' flex='' ui-sref-active='active' ng-click='close()')
                h3 Contact
        div.md-whiteframe-z2(flex='', layout='column', tabindex='-1', role='main')
          md-content.md-padding#mainView(ui-view='' flex)
        md-sidenav.md-sidenav-right.md-whiteframe-z2(md-component-id='right')
          md-toolbar.md-whiteframe-z1.body-toolbar.md-tall
            div(layout-align='center end' style='padding-top: 85px;' layout='row')
              h2 Social Media
          div(flex='' layout='row')
            md-tabs.md-dynamic-height.md-border-bottom(md-no-pagination='true' flex)
              md-tab(label='Twitter')
                md-content.md-padding
                  p Tweetverse
                  p
                    a.twitter-timeline(href='https://twitter.com/bigbenjr135', data-widget-id='648968585075933184') Tweets by @bigbenjr135
              md-tab(label='Google+')
                md-content.md-padding
                  p Google Plus
                  .gplus2
      md-toolbar.md-tall.md-whiteframe-z1(style='max-width: 150px;' hide-sm='' hide-md='' hide-lg='')


    script(type="text/javascript" src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(type="text/javascript" src='/javascripts/vendor/angular/angular.js')
    script(type='text/javascript' src='/javascripts/vendor/angular-messages/angular-messages.min.js')
    script(type="text/javascript" src='/javascripts/vendor/angular-resource/angular-resource.js')
    script(type="text/javascript" src='/javascripts/vendor/angular-animate/angular-animate.min.js')
    script(type="text/javascript" src='/javascripts/vendor/angular-aria/angular-aria.min.js')
    script(type="text/javascript" src='http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc7/angular-material.min.js')
    script(type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js')
    script(type="text/javascript" src='/javascripts/vendor/angular-ui-router/release/angular-ui-router.min.js')
    script(type="text/javascript" src='/javascripts/vendor/jquery.kyco.googleplusfeed2/dist/jquery.kyco.googleplusfeed2.min.js')
    script(type="text/javascript" src='/javascripts/vendor/viewerjs/ViewerJS/pdf.js')
    script(type="text/javascript" src='/dist/javascripts/indexFinal.min.js')

    script.
      !function(d,s,id){
         var js,fjs=d.getElementsByTagName(s)[0],
                 p=/^http:/.test(d.location)?'http':'https';
         if(!d.getElementById(id)){
            js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}
      }(document,"script","twitter-wjs");